* {
    padding: 0;
    margin: 0;
  }
  
body {
    height: 100%;
    width: 100%;
}

/* HEADER */ 
/* */
header {
  align-items: center;
  background-color: #74BAA0;
  display: flex;
  height: 120px;
  justify-content: space-between; 
  padding: 0 200px;
}

header > button {
  background: #EC8213;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  width: 200px;
}

header > p { 
  color: #FFFFFF;
  font-family:  Inter, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 47px;
  font-weight: 300px;
}

/* -- MAIN -- */
main {
  width: 100%;
  
}

h2 {    
font-family: 'verdana';
font-style: normal;
font-weight: 160px;
font-size: 30px;
line-height: 36px;
padding: 50px;
}
.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;     
  justify-items: center;
}

.card {
  display: grid;
  grid-template-columns: 82% 18%;
  grid-template-rows: 75% 25%; 
  width: 300px; 
  margin: 10px;  
  }

.animal-picture{
  height: 200px;
  width: 270px;
}



.social-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #C4C4C4;
  padding: 10px;  
}

.social-column > img {
  margin-bottom: 10px; 
  }

.location-row {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  padding: 10px;  
}

.expiration-date {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-family: 'inter';
   }
 .expiration-date > p {
  color:DodgerBlue;
 }
 /* FOOTER */
  
 .footer-container {
  display:flex;
  align-items: center;
  padding-left: 20%;
  padding-top: 2%;
}

footer {
  width: 100%;
  height: 156px;
  background-color: #3E9278;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #FFFFFF; 
}
