body {
    background-color: #f0f0f0;  
}

h2 {    
font-family: 'verdana';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
}
.imagens {
      
       display: flex;  
       flex-direction: column;        
}
.imagens >*{
    margin: 50px 200px;
    
}
.imagens1-3{
    
    display: flex;      
    flex-direction: row;   
    justify-content: space-between;
}
.imagens4-6{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
      
}