/* BODY */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  
  /* HEADER */
  header {
    align-items: center;
    background-color: #74BAA0;
    display: flex; /* Flex organiza os elementos sem que você precise contar pixels à direita ou esquerda */
    height: 120px;
    justify-content: space-between; /* "justify-content" dá espaço entre os elementos deixando cada um junto às laterais */
    padding: 0 200px; /* O primeiro número (O) indica o padding TOP e BOTTOM, o segundo (200px) indica o padding RIGHT e LEFT */
  }
  
  header > button { /* "header > button" significa "quero estilizar o elemento button dentro de header" */
    background: #EC8213;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 25px;
    height: 50px;
    width: 200px;
  }
  
  header > p { /* "header > p" significa "quero estilizar o elemento p dentro de header", isso evita que as configurações desse elemento p afetem outros p dentro do projeto */
    color: #FFFFFF;
    font-family:  Inter, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 47px;
    font-weight: 300px;
  }